UnitySDK.log
__pycache__
.DS_STORE
/UnityBuilds/
logs
events*
.vscode/settings.json
/summaries/
/checkpoints/
csharp_timers.json
.vs/
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/
*.egg-info*